@import '../../style/lib/_vars.scss';

.category-item {
  border-radius: $boarder-radius;
  border: 3px solid $black;
  margin-top: $gutter-lg;
  padding: $gutter-sm;
  position: relative;

  .delete-button{
    position: absolute;
    right: 5%;
    background: black;
    color: white;
    border: 1px solid black;
    padding: 1vw;
  }
}
